<h3><%= current_user == @user ? " Edit Your Profile" : "Edit User" %></h3>
<%= form_for(@user) do |form| %>
	<%= render form %>
	<div class="actions">
	    <%= form.submit "Update!" %>
	  </div>
<% end %>


