
<li class="col-xs-6 col-sm-3">
  <h4><%= place.restaurant %></h4>
  <span aria-hidden="true" class="glyphicon glyphicon-heart"></span>
  <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
</li>