
<%= form_tag login_users_path, {:class => "navbar-form navbar-right", :id => "login-form"} do %>
 <div class="form-group">
  <%= text_field_tag :email, params[:email], placeholder: "Email", class: "form-control" %>
</div>
 <div class="form-group">
  <%= password_field_tag(:password, "", placeholder: "Password", class: "form-control") %>
</div>
<%= button_tag "Login", class: "btn btn-default btn-inverse" %>
<% end %>

