
<li class="media list-group-item">
<div id="<%= invite.user.id %>" class="col-xs-12">
  <div class="col-xs-6 col-md-4">
    <%= image_tag invite.user.avatar.url(:icon), class: "avatar" %>
    <%= invite.user.name %>
  </div>
  <div id="rsvp-button-container" class="col-xs-6 col-md-4">
    <% if invite.user == current_user %>
    <button class="btn btn-default rsvps"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>
    <button class="btn btn-default rsvps"><strong>?</strong></button>
    <button class="btn btn-default rsvps"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
    <% else %>
    <button class="btn btn-default btn-light"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>
    <button class="btn btn-default btn-light"><strong>?</strong></button>
    <button class="btn btn-default btn-light"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
    <% end %>
   </div>
</div>
</li>


