
jQuery(function() {
  
  var client = new WebSocket("ws://104.236.59.10:2000");

  //moved some needed variables to the top
  var $chatwindow = $("#chatwindow");
  var $submit = $("#submitchat")[0];
  var pathname = window.location.pathname;


  //ajax call to get chatlog from database
  $.ajax({
      url: pathname+'/chatlog',
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        console.log(data);
        window.current_user = data.current_user
        window.avatars = data.invitee_avatars
        data.chatlog.forEach(function (chat) {

          var user, avatar_url
          $(data.invitees).each(function(index, invitee){
            if (chat.user_id === invitee.id) {
              user = invitee
            }
            
          })
          $(data.invitee_avatars).each(function (index, avatar) {
            if (chat.user_id === avatar.id) {
              avatar_url = avatar.avatar_url;
            }
          })
          appendChat(user, chat.message, chat.created_at, avatar_url)

        })
      },
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });

  //listen for opening of client connection
  client.addEventListener("open", function(evt) {
    console.log("you are connected!");

    //grab html elements

    var $userInput = $("#textbox")[0];

    //listen for messages from the server
    client.addEventListener("message", function(msg) {

      var $serverMessage = JSON.parse(msg.data);
      var $timeofMessage = JSON.parse(msg.timeStamp);
      var avatar_url
      console.log($timeofMessage);

      window.avatars.forEach(function (avatar) {
        if ($serverMessage.user.id === avatar.id) {
          avatar_url = avatar.avatar_url
        }
      })
      
      //switched task with function here
      appendChat($serverMessage.user, $serverMessage.msg, $timeofMessage, avatar_url)
    });

    //listen for input from user (submit button click)
    $submit.addEventListener("click", function() {
      var pathname = window.location.pathname
      var $clientMessage = $userInput.value;
      //use new object to pair up with server
      var connectionMessage = new message(current_user, $clientMessage, "clientMsg")
      $.ajax({
          url: pathname+'/logchat',
          type: 'POST',
          dataType: 'json',
          data: {message: $clientMessage},
          success: function (data) {
            console.log(data.message)
          }
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });
          console.log('im typing stuff')
        // switched from $clientmessage to connectionMessage to work with server
        client.send(JSON.stringify(connectionMessage));
        $userInput.value = "";
    });

    //listen for input from user (enter keypress)
    $userInput.addEventListener("keydown", function(press) {
      if (press.keyCode === 13) {
        $submit.click();
      }
    });

  });
});


// moved function down here
function appendChat (user, serverMessage, timeofMessage, url){
  var avatar_url = url || "http://localhost:3000/assets/users/default/default-b29b8be84633d061610458246d97fe53.png";
  var $chatwindow = $("#chatwindow");
  var $userInput = $("#textbox")[0];
  var $submit = $("#submitchat")[0];

  var dt = new Date(timeofMessage);

  function formatAMPM(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return strTime;
  }
  
  var timeNow = formatAMPM(dt);

  var $timeSpan = $("<time>").append(timeNow);
  var $messageDiv = $("<div></div>", {class: "messages"});
  var $chatID = $("<h5></h5>", {class: "inline-block"}).text(user.name);
  $messageDiv.append($chatID, $timeSpan, $("<p>").text(serverMessage));




  $colDiv = $("<div></div>", {class: "col-md-8 col-xs-10"});
  $colDiv.append($messageDiv);

  $avatarDiv = $("<div></div>", {class: "col-md-1 col-xs-2 avatar_div"});

  $avatarImage = $("<img>").attr({ src: avatar_url, class: "avatar" });
  $avatarDiv.append($avatarImage);


  $wrapperDiv = $("<div></div>", {class: "row msg_container base_sent"});
  $wrapperDiv.append($colDiv, $avatarDiv);

  $chatwindow.append($wrapperDiv);
}


//define new message object
var message = function(user,msg,type) {
  this.user = user;
  this.msg = msg;
  this.type = type;
}
