

jQuery(function() {
  var client = new WebSocket("ws://localhost:2000");

  $.ajax({
    url: '/path/to/file',
    type: 'default GET (Other values: POST)',
    dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
    data: {param1: 'value1'},
  })
  .done(function() {
    console.log("success");
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    console.log("complete");
  });

  //listen for opening of client connection
  client.addEventListener("open", function(evt) {
    console.log("you are connected!");

    //grab html elements
    var $chatwindow = $("#chatwindow");
    var $userInput = $("#textbox")[0];
    var $submit = $("#submitchat")[0];

    //listen for messages from the server
    client.addEventListener("message", function(msg) {

      var $serverMessage = JSON.parse(msg.data);
      var $timeofMessage = JSON.parse(msg.timeStamp);
      
      console.log($timeofMessage);

      var $messageDiv = $("<div></div>", {class: "messages"});
      $messageDiv.append($("<p>").text($serverMessage));

      var dt = new Date($timeofMessage);
      var timeNow = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
      $messageDiv.append($("<time>").append().append(timeNow));



      $colDiv = $("<div></div>", {class: "col-md-8 col-xs-10"});
      $colDiv.append($messageDiv);

      $avatarDiv = $("<div></div>", {class: "col-md-1 col-xs-2 avatar_div"});
      $avatarImage = $("<img>").attr({ src: "<%= asset_path('users/default/default_thumb.gif') %>", class: "avatar" });
      $avatarDiv.append($avatarImage);


      $wrapperDiv = $("<div></div>", {class: "row msg_container base_sent"});
      $wrapperDiv.append($colDiv, $avatarDiv);

      $chatwindow.append($wrapperDiv);
    });

    //listen for input from user (submit button click)
    $submit.addEventListener("click", function() {
      var $clientMessage = $userInput.value;
      client.send(JSON.stringify($clientMessage));
      $userInput.value = "";
    });

    //listen for input from user (enter keypress)
    $userInput.addEventListener("keydown", function(press) {
      if (press.keyCode === 13) {
        $submit.click();
      }
    });

  });
});
