/*
 *= require_tree .
 *= require_self
 */


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.carousel-caption { 
    height: 300px;
    padding-left: 40px;
    padding-right: 40px;
}

.flex {
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
     display: -moz-box;      /* OLD: Firefox (buggy) */ 
     display: -ms-flexbox;   /* MID: IE 10 */
     display: -webkit-flex;  /* NEW, Chrome 21+ */
     display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
     -webkit-box-align: center; -moz-box-align: center; /* OLD… */
     -ms-flex-align: center; /* You know the drill now… */
     -webkit-align-items: center;
     align-items: center;


}
a:hover {
  background-color: transparent;
}
#homepage-carousel {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
}
