/*
 *= require_tree .
 *= require_self
 */


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';


@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Slabo+13px);

$primary: #219AB3 !default;
$dark: #520602 !default;
$light: #ea5000 !default;

$body-font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
$headline-font-family: "Slabo 13px","Helvetica Neue",Helvetica,Arial,sans-serif;

body {
  width: 100%;
  height: 100%;
  font-family: $body-font-family;
  color: $light;
  background-color: $dark;
  -webkit-tap-highlight-color: transparentize($light, 0.8);
  word-wrap: break-word;
  padding-top: 100px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 35px;
  font-family: $headline-font-family;
  font-weight: 700;
  letter-spacing: 1px;
}
.inline-block {
  display: inline-block;
}
.media {
  margin-top: 0;
  > * {
    display: inline-block;
  }
  &.list-group-item{
    padding: 0 inherit;
  }
}
a {
  &:hover {
    background-color: transparent;
  }
}
.avatar_div {
    position: relative;
    padding-left: 0px;
}
.notification-badge {
   color: $light;
   background-color: $dark;
   position:relative;
   top: -15px;
   left: -15px;
   border: 1px solid $light;
   font-size: 0.6em;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  position: relative;
  bottom: 3px;
}
.btn-circle-sm {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 9px;
  line-height: 1.42;
  border-radius: 15px;
  position: relative;
  bottom: 3px;
}
.maybe-button {
  font-size: 1.2em;
  padding: 0;
}
.hidden {
  display:none;
}
.form-control {
  padding-right: 30px;
}
.form-control + .glyphicon {
  position: absolute;
  left: 0;
  padding: 24px 24px;
}
.search-bar{
  padding-left: 30px;
}
