/*
 *= require_tree .
 *= require_self
 */


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

body {
  word-wrap: break-word;
}
.media {
  margin-top: 0;
  > * {
    display: inline-block;
  }
  &.list-group-item{
    padding: 0 inherit;
  }
}
.carousel-caption { 
    height: 400px;
    padding-left: 40px;
    padding-right: 40px;
}
a:hover {
  background-color: transparent;
}
#homepage-carousel {
  margin-top: -20px;
  margin-bottom: 2%;
  max-width: 100%;
  max-height: 350px;
  overflow: hidden;
}
.avatar_div {
    position: relative;
    padding-left: 0px;
}
