/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  */
  .form-inline {
    *display: inline;
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0.5em inherit;
  }