.avatar {
  height:50px;
  width: 50px;
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 2px rgba(82, 6, 2, 0.3);
  margin: 5px;
  display: inline-block;
}
.avatar-mini {
  height: 30px;
  width: 30px;
}

