    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">appetito</h1>
                        <p class="intro-text">Find the right place to dine.</p>
                        <a href="#about" class="btn btn-circle page-scroll pulse">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Invite Section -->
    <div class="light">
    <section id="invite" class="container content-section">
        <div class="row">
            <div class="col-lg-7">
                <h2>Invite Friends</h2>
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>This version of Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS files and bower for an even easier customization.</p>
            </div>
        </div>
    </section>
</div>

    <!-- Find Restaurants -->
    <section id="find" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4">
                <h2>Find Restaurants</h2>
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>This version of Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS files and bower for an even easier customization.</p>
            </div>
        </div>
    </section>

    <!-- Vote and  Decide -->
    <div class="light">
    <section id="vote" class="container content-section">
        <div class="row">
            <div class="col-lg-7">
                <h2>Vote and Decide</h2>
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>This version of Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS files and bower for an even easier customization.</p>
            </div>
        </div>
    </section>
</div>

    

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>

